* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 20PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}

body>.main {
    padding: 5% 10%;
}